@layer reset, base, tokens, recipes, utilities;

@layer base {
    a {
        font-weight: 600;
        text-decoration: none;
        color: inherit;
    }
}


/* :root {
    --border-radius-bg-hover: .3rem;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

html {
    min-height: 100svh;
}

body {
    min-height: 100svh;
    transition: background-color .3s ease-out;
} */
