.toggle_wrapper {
    order: 0;
}

.toggle_wrapper.active {
    order: 1;
}

.toggle {
    width: var(--panel-width);
    min-height: var(--panel-height);
}

.toggle.instincts {
    background-color: var(--instincts-button-bg-color);
}

.toggle.intellect {
    background-color: var(--intellect-button-bg-color);
}

.toggle.balance {
    background-color: var(--balance-button-bg-color);
}

.panel_wrapper {
    position: sticky;
    margin-top: 30px;
    z-index: 999;
    top: var(--panel-top-sticky-position);
}

.panel {
    flex: 1 1 0;
    gap: 100px;
    align-items: center;
    padding: 0 0 0 100px;
}

.panel.instincts {
    background-color: var(--instincts-button-bg-color);
}

.panel.intellect {
    background-color: var(--intellect-button-bg-color);
}

.panel.balance {
    background-color: var(--balance-button-bg-color);
}

.link {
    font-size: 14px;
    padding: 1px 15px;
    color: white;
    font-weight: bold;
    border-radius: 8px;

    @mixin hover {
        background-color: var(--mantine-color-dark-light-hover);
    }
}

.link.active {
    background-color: white;
    color: black;
}


/* tooltip */

.tooltip {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 40%;
    position: absolute;
    top: -500px;
    left: 200px;
    transition: top .2s ease;
    border: 4px solid #333;
    padding: 5px 10px;
    background-color: #222;
    border-radius: 3px;
}

.tooltip.tooltip_visible {
    top: 15px
}

.trigger {
    cursor: pointer;
    width: min-content;
    transition: transform .2s;
}

.trigger:hover {
    transform: rotate(-30deg);
}

.tooltip_title {
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.button_close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: right;
    color: white;
    border-radius: 50%;
    padding: 4px;
}


.button_close:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.trigger_icon.default {
    color: inherit;
}

.trigger_icon.instincts {
    color: var(--instincts-button-bg-color);
}

.trigger_icon.intellect {
    color: var(--intellect-button-bg-color);
}

.trigger_icon.balance {
    color: var(--balance-button-bg-color);
}
