.tickerContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    color: white;
    padding: 10px 0;
}

.tickerTrack {
    display: inline-block;
    white-space: nowrap;
    animation: tickerScroll 30s linear infinite;
}

.quote {
    font-weight: bold;
    color: blue;
    letter-spacing: 10px;
    display: inline-block;
    margin-right: 200px;
    font-size: 14px;
}

@keyframes tickerScroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}