.controls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.control {
    background-color: rgba(23, 23, 23, 0.473);
}

.root {
    height: 100%;
    transition: transform .1 ease;

    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.viewport {
    height: inherit;
}

.container {
    height: inherit;
}

/* .slide {
    height: inherit;
} */

.slide_box_content {
    color: rgb(9, 9, 9);
    font-weight: 900;
    overflow: hidden;
    height: 100%;
    position: relative;

    & img {
        object-fit: fill;
        filter: hue-rotate(90deg) contrast(2);
        width: 100%;
        height: 100%;
    }
}

.slide_box_header {
    position: absolute;
    top: 3px;
    left: 10px;

    & h1 {
        font-size: 20px;
        padding: 3px;
        background-color: black;
        color: white;
        mix-blend-mode: hard-light;
    }
}
