.header {
    padding: 4px 420px;
    color: black;
}

.header.instincts {
    background-color: var(--instincts-button-bg-color);
}

.header.intellect {
    background-color: var(--intellect-button-bg-color);
}

.header.balance {
    background-color: var(--balance-button-bg-color);
}
